<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tasfri">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ForgotpassActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="FORGOT PASSWORD"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssignmentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="ASSIGNMENT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FootnoteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="FOOTNOTE"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="APPLICATIONS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AllocationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="ALLOCATIONS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FreqActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="FREQUENCY BANDS"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="HOME"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminsignActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>